html,
body {
    width: 100%;
    height: 100%;
}

a {
    color: currentColor;
    text-underline-offset: 2px;
}

html {
    background-color: #bbc4e5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Proxima Nova", sans-serif;
    color: #4b5563;
}

h1, h2 {
    color: #1f2937;
}

h1 {
    font-size: 24px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

h2 {
    font-size: 18px;
}